# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
.trae/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/


data/

noisex-92-master/

# Logs
*.log
